* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

#navbar {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#navbar a {
  color: white;
  font-weight: bold;
}
#top_img {
  padding: 40px;
  text-align: center;
  background-color: black;
}
#content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-evenly;
}
.movie {
  margin-top: 25px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  color: black;
}
.movie button {
  background-color: rgb(203, 205, 209);
  border: solid 1px rgb(173, 87, 87);
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
}

.movie button:hover {
  cursor: pointer;
  color:white;
  background-color: black;
}

.name {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight:bold;
}
.name:hover{
  cursor: pointer;
  font-size: 21px;
}
.rate {
  font-size: 15px;
}
.img_00 {
  position: relative;
  bottom: 150px;
  padding: 10px;
}
