* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
}
body {
  background-color: white;
}
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 30px 40px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: dotted 4px;
  border-radius: 50%;
  color: black;
  font-family: serif;
}

form h1:hover{
  font-size: 37px;
  cursor: pointer;
}

input:hover{
  height: 21px;
}

.inside {
  margin-top: 20px;
}
.inside a:hover{
  font-size: 18px;
}
#text {
  border-color: black;
  border-radius: 30px;
  text-align: center;
}
#pass {
  border-color: black;
  border-radius: 30px;
  text-align: center;
}
#signup button {
  border: 1px solid;
  border-radius: 10px;
  padding: 4px;
  color: black;
  cursor: pointer;
}
#signup button:hover {
  background-color: black;
  color: white;
}
#login {
  font-weight: bolder;
}
#navbar {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#navbar a {
  color: white;
  font-weight: bold;
}
