*{
    padding: 0px;
    margin:0px;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: black;
}
form{   
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:40px 30px 40px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: dotted 2px ;
    border-radius: 50%;
    color: white;
    font-family:serif;
}
.inside{
    margin-top: 20px;
}
#text{
  border-color: blue;
  border-radius: 30px;
  text-align: center;   
}
#pass{
    border-color: blue;
    border-radius:30px;
    text-align: center;
}
#signup  button{
    border: 1px solid;
    border-radius: 10px;
    padding: 4px;
    color:blue;
}
#login{
    font-weight: bolder;
}
#navbar {
    background-color: rgb(23, 57, 170);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
#navbar a {
    color: white;
    font-weight: bold;
  }