* {
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: url(bg.jpeg);
}
#navbar {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#navbar a {
  color: white;
  font-weight: bold;
}
#main {
  margin: 0px;
  padding: auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.text {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 1px;
}
.text:hover{
  cursor: pointer;
  font-size: 30px;
}
.rating {
  font-size: 14px;
  font-weight: bold;
  border-top: 2px;
  margin-top: 10px;
}
button {
  background-color: rgb(203, 205, 209);
  padding-top: 4px;
  padding-bottom: 7px;
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
}

button:hover{
  background-color: black;  
  color: white;
  cursor: pointer;
}
.template {
  margin-top: 25px;
  margin-left: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  color: black;
}
img {
  margin-top: 10px;
}
